.nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #0dcaf0 !important;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -3px;
  left: 0;
  background: #0dcaf0;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}